<div class="d-flex h-100">
  <tenant-nav></tenant-nav>

  <div class="d-flex flex-row w-100">

    <div class="configList">

      <div class="d-flex flex-row" id="listHeading">
        <div style="font-size: xx-large;">Config</div>
      </div>

      <div class="d-flex flex-column listItem" (click)="activeConfig = 'basic'" [class.activeList]="activeConfig == 'basic'">
        <div>Basic Config</div>
      </div>

      <div class="d-flex flex-column listItem" (click)="activeConfig = 'status'" [class.activeList]="activeConfig == 'status'">
        <div>Statuses</div>
      </div>

      <div class="d-flex flex-column listItem" (click)="activeConfig = 'type'" [class.activeList]="activeConfig == 'type'">
        <div>Types</div>
      </div>

      <div class="d-flex flex-column listItem" (click)="activeConfig = 'priority'" [class.activeList]="activeConfig == 'priority'">
        <div>Priorities</div>
      </div>

    </div>

    <app-basic-config *ngIf="activeConfig == 'basic'" class="config"></app-basic-config>
    <app-status-config *ngIf="activeConfig == 'status'" class="config"></app-status-config>
    <app-type-config *ngIf="activeConfig == 'type'" class="config"></app-type-config>
    <app-priority-config *ngIf="activeConfig == 'priority'" class="config"></app-priority-config>

  </div>

</div>
