  <div class="d-flex flex-row p-1 justify-content-between" [class.mentioned]="mentioned">
  <img [src]="GetUser().avatar" alt="avatar">
  <div class="d-flex flex-column w-100 px-3">

    <div class="d-flex flex-row justify-content-between">
      <div class="mr-1 mb-1" style="font-weight: bold">{{GetUser().displayName}}</div>
      <div>{{userChat.chats[0].timeStamp | date:'mediumDate'}}</div>
    </div>

    <div class="d-flex flex-row justify-content-between chatText" *ngFor="let chat of userChat.chats">
      <div class="d-flex flex-row">
        <div *ngFor="let message of DeconstructMessage(chat)" >
          <span *ngIf="message.type == 0">{{message.message}}</span>
          <span *ngIf="message.type == 1" (click)="JobMentionClicked(message.message)" class="jobMention">{{GetJobLink(message.message)}}</span>
          <span *ngIf="message.type == 2" (click)="UserMentionClicked(message.message)" class="mention">{{GetUserLink(message.message)}}</span>
        </div>
      </div>
      <div class="mat-caption">{{chat.timeStamp | date:'shortTime'}}</div>
    </div>

  </div>
</div>


