<div class="d-flex flex-row p-1 justify-content-between" [class.mentioned]="mentioned">
  <img [src]="GetUser().avatar">
  <div class="d-flex flex-row w-100 px-3 justify-content-between">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row align-items-center">
        <div class="mr-1">{{GetUser().displayName}}</div>
        <div class="mat-caption">{{Chat.timeStamp | date:'shortTime'}}</div>
      </div>
      <div [innerHTML]="ScanMessage()"></div>
    </div>
    <div>{{Chat.timeStamp | date:'mediumDate'}}</div>
  </div>
</div>
