#listJobs {
  flex-grow: 3;
}

.listList {
  background: #676f76;
  min-width: 20vw;
  color: #FAFAFA;
  padding-top: 1rem;
}

.activeList {
  background: #ffffff45;
  box-shadow: inset 0 0 1px black;
}

.listItem {
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.listItem:hover {
  background: #ffffff45;
  box-shadow: inset 0 0 1px black;
}

.listJobItem {
  padding: 0.1rem 1rem;
  cursor: pointer;
}

.listJobItem:hover {
  background: aliceblue;
}

.JobPreview {
  /*flex-grow: 1;*/
  width: 100%;
  /*padding: 1rem;*/
}

#controlBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: #ECECEC solid 1px;
}

#listView {
  flex: 25%;
  min-width: 420px;
}

.iconAligned {
  margin-top: 5px;
}

label {
  margin-bottom: 0;
}

.activeJob {
  background-color: aliceblue;
}

.jobStatusName {
  padding-left: 0.5rem;
}

#listHeading {
  justify-content: space-between;
  padding: 1rem 1rem;
}

#newListButton {
  margin-top: auto;
  margin-bottom: auto;
}
