<h2 mat-dialog-title>Add user to {{projectService.GetCurrentProject().name}}</h2>
<mat-dialog-content class="mat-typography">

  <mat-form-field appearance="outline">
    <mat-label>Chose user</mat-label>
    <mat-select #userSelect>
      <mat-option *ngFor="let user of GetUsers()" [value]="user.id">
        {{user.displayName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="AddUser(userSelect.value)">Add</button>
</mat-dialog-actions>
