.listList {
  background: #676f76;
  min-width: 20vw;
  color: #FAFAFA;
  padding-top: 1rem;
}

.activeList {
  background: #ffffff45;
  box-shadow: inset 0 0 1px black;
}

.listItem {
  padding: 0.5rem 0.5rem;
}

.listItem:hover {
  background: #ffffff45;
  box-shadow: inset 0 0 1px black;
}
