<div class="d-flex h-100">
  <app-project-nav></app-project-nav>

  <div id="roomList">

    <div class="d-flex flex-row" id="roomsHeading">
      <div style="font-size: xx-large;">Chats</div>
      <button mat-icon-button id="newListButton" (click)="NewRoom()">
        <mat-icon>add_box</mat-icon>
      </button>
    </div>


    <div *ngFor="let room of chatService.Rooms" class="listItem" [class.activeRoom]="currentRoomId == room.id">
      <div class="d-flex justify-content-between align-items-center h-100">
        <div (click)="GetRoom(room.id).subscribe()">{{room.name}}</div>
        <button *ngIf="currentRoomId == room.id" mat-icon-button [matMenuTriggerFor]="roomMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>

      <mat-menu #roomMenu="matMenu">
        <button mat-menu-item (click)="AddUser(room)">
          <mat-icon>person_add</mat-icon>
          <span>Add User</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>delete</mat-icon>
          <span>Remove</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="d-flex flex-column flex-grow-1 px-3">

    <div class="d-flex flex-row" id="memberList">
      <avatar class="mr-1" *ngFor="let user of users" [User]="user" [roomId]="currentRoomId"></avatar>
      <div id="addUser" (click)="AddUser(chatService.GetRoomFromStore(currentRoomId))"></div>
    </div>

    <!--    [scrollTop]="room.scrollHeight"-->
    <div #room id="room">
      <chat [userChat]="userChat" *ngFor="let userChat of this.chatService.GetUserChats(this.currentRoomId)"></chat>
    </div>

<!--    <div id="MessageInput" role="textbox" contenteditable="true" aria-multiline="false" #Message [(ngModel)]="message" (keydown)="Event($event)"></div>-->

    <input  id="MessageInput" spellcheck="true" type="text" #Message [(ngModel)]="message"  (keyup.backspace)="Backspace()"  (keypress)="Complete($event,Message.selectionStart)" autocomplete="off"/>

    <!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>Message #{{this.chatService.GetRoomFromStore(this.currentRoomId)?.name}}</mat-label>-->
<!--      <input matInput type="text" #Message [(ngModel)]="message" [innerHTML]="message" (keyup.backspace)="Backspace()"  (keypress)="Complete($event,Message.selectionStart)" autocomplete="off"/>-->

<!--      -->

      <div id="AutoComplete" class="shadow" *ngIf="ShowUserMention || ShowJobMention" (focusout)="ShowUserMention = false; ShowJobMention = false">
        <div *ngIf="ShowJobMention"><div class="jobMentionItem" [class.selectedJob]="selectedJob == job" *ngFor="let job of SearchJobs(Message.selectionStart)" (click)="mentionJob(job,Message.selectionStart)">{{job.link}}</div></div>
        <div *ngIf="ShowUserMention"><div class="jobMentionItem" [class.selectedUser]="selectedUser == user" *ngFor="let user of SearchUsers(Message.selectionStart)" (click)="mentionUser(user,Message.selectionStart)">{{user.displayName}}</div></div>
      </div>

<!--    </mat-form-field>-->
  </div>


  <!--  <div class="container-fluid d-flex flex-column" *ngIf="chatService.Rooms">-->
  <!--    <div class="d-flex flex-row flex-grow-1 h-100">-->
  <!--      <div class="flex-grow-1 m-3">-->
  <!--        <mat-list role="list">-->
  <!--          <mat-list-item role="listitem" *ngFor="let room of chatService.Rooms" (click)="GetRoom(room.id)">-->
  <!--            <div mat-line>{{room.name}}</div>-->
  <!--          </mat-list-item>-->
  <!--        </mat-list>-->
  <!--        <button mat-raised-button (click)="NewRoom()" class="w-100 my-2"><mat-icon>add</mat-icon></button>-->
  <!--      </div>-->

  <!--      <div id="chatRoom" class="m-3">-->
  <!--        <div *ngIf="this.chatService.GetRoomFromStore(this.currentRoomId)" class="d-flex flex-column h-100">-->
  <!--          <div id="room" #room class="" [scrollTop]="room.scrollHeight">-->
  <!--            <chat [Chat]="chat" *ngFor="let chat of this.chatService.GetRoomFromStore(this.currentRoomId).chats"></chat>-->
  <!--          </div>-->

  <!--          <mat-form-field appearance="outline">-->
  <!--            <mat-label>Message #{{this.chatService.GetRoomFromStore(this.currentRoomId)?.name}}</mat-label>-->
  <!--            <input matInput type="text" [(ngModel)]="message" [formControl]="mentionControl" (keyup.enter)="SendMessage()" [matAutocomplete]="mention" [matAutocompleteDisabled]="message.charAt(0) != '@'">-->

  <!--            <mat-autocomplete autoActiveFirstOption #mention="matAutocomplete">-->
  <!--              <mat-option *ngFor="let user of GetRoomUsers()" [value]="'@' + user.displayName">-->
  <!--                {{user.displayName}}-->
  <!--              </mat-option>-->
  <!--            </mat-autocomplete>-->

  <!--          </mat-form-field>-->
  <!--        </div>-->
  <!--      </div>-->


  <!--    </div>-->
  <!--  </div>-->
</div>
