.onlineIndicate {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #8BC34A;
  border-radius: 100%;
  /*bottom: 5.25px;*/
  /*right: 5.25px;*/
  bottom: 5%;
  right: 5%;
  border: solid transparent 2px;
}

img {
  object-fit: cover;
  border-radius: 50%;
}

.container-img {
  position: relative;
  text-align: center;
  color: white;
}

.removeUser{
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 5.25px;
  right: 5.25px;
}
