<div class="d-flex h-100">
  <tenant-nav></tenant-nav>

  <div class="d-flex flex-column w-100">

    <div class="d-flex flex-column">
      <div class="mat-headline">Statuses</div>

      <div *ngFor="let status of tenantService.Tenant.jobStatuses" class="d-flex flex-row">
        <label> name <input [value]="status.name"> </label> <label> colour <input [value]="status.colour"> </label>
        <button mat-icon-button (click)="DeleteStatus(status)"><mat-icon>delete</mat-icon></button>
      </div>

      <div class="d-flex flex-row"><label> name <input #StatusName> </label> <label> colour <input #StatusColour> </label></div>

      <button mat-stroked-button color="primary" (click)="NewStatus(StatusName.value,StatusColour.value)">Add</button>
    </div>

    <div class="d-flex flex-column">
      <div class="mat-headline">Types</div>

      <div *ngFor="let type of tenantService.Tenant.jobTypes" class="d-flex flex-row">
        <label> name <input [value]="type.name"> </label> <label> colour <input [value]="type.colour"> </label>
        <button mat-icon-button (click)="DeleteType(type)"><mat-icon>delete</mat-icon></button>
      </div>

      <div class="d-flex flex-row"><label> name <input #TypeName> </label> <label> colour <input #TypeColour> </label></div>

      <button mat-stroked-button color="primary" (click)="NewType(TypeName.value,TypeColour.value)">Add</button>
    </div>

    <div class="d-flex flex-column">
      <div class="mat-headline">Priorities</div>

      <div *ngFor="let priority of tenantService.Tenant.jobPriorities" class="d-flex flex-row">
        <label> name <input [value]="priority.name"> </label> <label> colour <input [value]="priority.colour"> </label>
        <button mat-icon-button (click)="DeletePriority(priority)"><mat-icon>delete</mat-icon></button>
      </div>

      <div class="d-flex flex-row"><label> name <input #PriorityName> </label> <label> colour <input #PriorityColour> </label></div>

      <button mat-stroked-button color="primary" (click)="NewPriority(PriorityName.value,PriorityColour.value)">Add</button>
    </div>
  </div>

</div>
